h1{
    color:#05F9C9; 
    background-color:#808080;
    
 }
 *{
    border:solid; 
 }
 
 .header{
     border :dashed;
     background-color:skyblue ;
     display :flex;
     justify-content: space-between;

 }
 .grid{
     display:flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     
 }
 .item{
    border: dimgray;
 }

 .footer{
     display: flex;
     justify-content:flex-end;
     background-color: #05F9C9;
 }

 p,h3{
     text-align: center;
 }

 body{
    background-color: #808080;
 }

 